@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Questrial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    margin: 0;
    background-color: #666;
}

.controls .btn{
    border: 0;
    background: transparent;
    cursor: pointer;
}

.controls .fa-play{
color: aqua;

}

.controls .fa-stop{
    color: red;
}

.controls .fa-pause{
    color: white;
}

.controls .timestamp{
    color: white;
    font-weight: bold;
    margin-left: 10px;
}

h1 {
    color: whitesmoke;
}

.btn .focus{
    outline: 0;
}

.screen{
cursor: pointer;
width: 30%;
background-color: #000 !important;
border-top-left-radius: 8px;
border-bottom-right-radius: 8px;
}

.controls{
    background: #333;
    color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 50%;

}

@media(max-width: 800px) {
    .screen
    .controls{
        width: 90%;
    }

}